/**
 * Radiogroup Component Style for uxcore
 * @author
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

.kuma-radio-group {
    > label {
        display: inline-block;
        line-height: 16px;
        s {
            vertical-align: top;
        }
        span {
            padding: 0px 20px 0px 0px;
            display: inline-block;
            vertical-align: top;
        }
    }
 }
